.recentlogins {
  padding: 0px 5px;
  gap: 8px;
  margin-bottom: 32px;
}
.logo {
  font-size: 48px;
  line-height: 48px;
  color: #ffb3c1;
  font-weight: 700;
  font-family: "Cabin";
}

.recentlogins .title {
  font-size: 32px;
}

.recentlogins .description {
  color: rgb(188, 188, 188);
  font-size: 20px;
}
