.home-container {
  margin: auto;
  max-width: 744px;
}

.card {
  margin: 0;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.text-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}
.text-wrapper button {
  border-style: none;
  box-shadow: none;
}

.text-area {
  white-space: "pre-wrap";
  resize: "none";
}

.text {
  white-space: normal;
}
