.signin-container {
  display: flex;
  align-items: center;
  height: 100vh;
}

.login-form-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.form {
  background-color: #ffffff;
  padding: 42px;
  border-radius: 16px;
}
