.home-container {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 16px 0px;
  flex-grow: 2;
  max-width: 744px;
  gap: 16px;
}
.sider {
  width: 320px;
}

.card {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.text-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}
.text-wrapper button {
  border-style: none;
  box-shadow: none;
}

.text {
  white-space: normal;
}

@media only screen and (max-width: 767px) {
  .home-container {
    .sider {
      display: none;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .home-container {
    justify-content: center;
    .list {
      padding: 16px;
    }
    .sider {
      width: 300px;
    }
    .sider:first-child {
      display: none;
    }
  }
}
