@import "./variables.scss";

.signup-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 968px;
  margin: auto;
  padding: 80px 0;
}

.signup-content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  border-radius: 8px;
  width: 392px;
  background-color: "red";
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.signup-content img {
  width: 100%;
}

.signup-title {
  color: $primary-color;
  font-size: 20px;
}

.signup-container input,
.signup-container .ant-input-password {
  padding: 13px 16px;
}
.signup-form {
  height: 552px;
}
.g-recaptcha {
  margin-top: 32px;
}
.g-recaptcha div {
  margin: auto;
}

@media only screen and (max-width: 375px) {
  .signup-content {
    width: 100%;
    align-items: center;
  }
}

@media only screen and (max-width: 783px) {
  .signup-container {
    padding: 32px 0;
  }

  .logo-mobile {
    margin-top: 5%;
    margin-bottom: 20px;
  }
  .welcome {
    display: none !important;
  }
}

@media only screen and (min-width: 784px) {
  .logo-mobile {
    display: none;
  }
}
