@import url("https://fonts.googleapis.com/css2?family=Prosto+One&family=Unbounded:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Nunito:wght@200;400;700;1000&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

span {
  font-family: "Nunito";
}

.wrapper {
}

.sider,
.content {
  background-color: #ededf0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header:first-child {
  font-family: "Unbounded";
  font-size: 24px;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.separator {
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-bottom-color: rgb(231, 231, 231);
}

.footer {
  background-color: #ffffff !important;
  color: #9fa2a4 !important;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logo {
  color: #ffb3c1;
}
