@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Nunito:wght@200;400;700;1000&family=Space+Grotesk:wght@400;700&display=swap");

:root {
  --header-height: 56px;
  --primary-color: #ffb3c1;
  --gray: #ededf0;
  --dark-gray: #8d8d98;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

span {
  font-family: "Nunito";
}

.content {
  background-color: var(--gray);
}

.header {
  display: flex;
  align-items: center;
  position: sticky;
  gap: 16px;
  top: 0px;
  z-index: 1000;
  height: var(--header-height);
  background-color: #ffffff;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0px 16px;
}

.header:first-child {
  font-family: "Unbounded";
  font-size: 24px;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.footer {
  background-color: #ffffff !important;
  color: #9fa2a4 !important;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sider {
  position: sticky;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sider::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.logo-symbol {
  font-family: "Space Grotesk";
  background-color: var(--primary-color);
  font-size: 32px;
  width: 40px;
  height: 40px;
  color: #ffffff;
  border-radius: 36px;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(255, 246, 224, 1) 0%,
    rgba(255, 212, 212, 1) 42%,
    rgba(255, 179, 193, 1) 100%
  );
  box-shadow: rgba(223, 133, 111, 0.319) 2.4px 2.4px 3.2px;
}

.ui-button {
  display: flex;
  flex-direction: column;
  gap: 16px;
  vertical-align: middle;
  text-align: center;
}

.ui-button button {
  height: 48px;
  border-style: none;
  box-shadow: none;
  font-size: 20px;
  font-weight: 700;
}

.ui-button button:last-child:not(.sns) {
  background-color: rgb(152, 188, 255);
}

.ui-button button:last-child:not(.sns):hover {
  background-color: rgb(207, 194, 255);
}

/* .ui-button:has(> .sns) button {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
} */

.sns {
  color: #ffffff;
  border-radius: 8px;
}

.kakao {
  background-color: #fee500;
}
.naver {
  background-color: #2db400;
}
.google {
  /* color: #000000; */
  background-color: #000000;
}

/**
Tools
*/

.separator {
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-bottom-color: rgb(231, 231, 231);
}

.flex-space {
  flex-grow: 2;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
